body {
    background-color: #eee;
    font-family: sans-serif;
}

a {
    color: #fa0;
}
.titulo {
    display: block;
    background-color: darkslategray;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    height: 190px;
}
.titulo h1 {
    font-size: 72px;
}
.ancora {
    opacity: 0;
    position: relative;
    top: -48px;
}
#nave {
    background-color: #345a5a;
    z-index: 400;
}
#nave a {
    color: white;
    font-weight: 100;
    transition-duration: 0.1s;
}
#nave a:hover {
    background-color: #437171;
}
.box {
    background-color: white;
    color: dimgray;
    font-weight: 200;
    padding: 24px 48px;
    line-height: 24px;
    position: relative;
    top: 256px;
    box-shadow: 2px 2px 2px #555;
}
.last {
    background-color: #333;
    color: white;
    box-shadow: none;
    text-align: center;
    padding: 48px 0px 256px 0px;
    margin: -8px;
}
.box:not(.last) {
    margin: 48px 20% 48px 20%;
}
@media screen and (max-width: 1147px) {
    #nave a:nth-child(1) {
        display: none;
    }
    #nave a:last-child {
        display: none;
    }
}